@import "@/styles/_colors.scss";

.dropdown-enter,
.dropdown-appear {
  transform-origin: 100% 0;
  transform: scale(0);
}

.dropdown-enter-active,
.dropdown-appear-active {
  transform: scale(1);

  transition: 250ms ease-out;
}

.dropdown-exit {
  transform-origin: 100% 0;
}

.dropdown-exit-active {
  transform: scale(0);

  transition: 150ms 100ms ease-out;
}

.dropdown {
  padding: 1rem 0;

  z-index: 10;

  position: absolute;

  top: 100%;
  right: 50%;

  background-color: white;

  box-shadow: 1px 2px 3px color("accent");

  border: 1px solid color("accent");

  user-select: none;

  span {
    display: block;

    padding: 1.25rem 3.5rem;

    white-space: nowrap;

    font-size: 1.6rem;
    font-weight: bold;

    cursor: pointer;

    color: color("text-secondary");

    transition: 250ms ease-out;

    &:hover {
      background-color: color("accent");
    }
  }
}
