.contact {
    padding: 1.5rem;

    display: flex;
    align-content: flex-start;

    position: relative;

    user-select: none;

    cursor: pointer;

    img {
        display: inline-block;
    }

    > div {
        margin-left: 1rem;
    }

    h3 {
        display: inline-block;

        font-weight: bold;
        font-size: 1.6rem;
    }

    p {
        margin-top: .5rem;
        font-size: 1.3rem;
    }

    border-bottom: 1px solid #EEEEEE;

    // transition: 300ms ease-out;

    &:hover {
        background-color: darken(#EEEFFF, 3%);

        // i {
        //     transform: translateY(-50%) translateX(-.5rem);
        //     opacity: 1;
        // }
    }

    // i {
    //     font-size: 2rem;

    //     position: absolute;

    //     color: grey;
    //     opacity: 0;

    //     top: 50%;
    //     right: 1rem;

    //     transform: translateY(-50%);

    //     transition: 100ms ease-out;
    // }
}