{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": "error",
    "react/prop-types": 0,
    "no-debugger": 0,
    "no-console": 0,
    "react/jsx-key": 0
  }
}
