@import "@/styles/_colors.scss";

.chat {
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;

  &__messages {
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    overflow-y: auto;

    padding: 2rem 3rem;

    background-color: #E5DDD5;

    &::-webkit-scrollbar {
      width: 0.75rem;
      border-left: 1px solid darken(color("accent"), 10%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken(color("accent"), 30%);
    }

    &__date {
      margin: 0 auto;

      padding: .5rem 1rem;

      background-color: #E1F3FB;

      color: rgba(69, 90, 100, 0.95);

      box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);

      border-radius: 5px;

      margin-bottom: 1rem;
    }
  }

  transition: 250ms ease-out;

  &.translated {
    transform: translateX(300px);
  }
}
