@import "@/styles/_colors.scss";

.message {
  padding: .5rem 2em 2rem .5rem;

  box-shadow: 1px 2px 3px rgba(0, 0, 0, .15);

  display: inline-block;

  min-width: 100px;

  background-color: #DCF8C6;
  color: color("text");

  border-radius: 0 5px 5px 5px;

  margin-bottom: 1rem;

  position: relative;

  &::before {
    content: '';

    position: absolute;

    top: 0;
    right: 100%;

    border-left: 5px solid transparent;
    border-top: 5px solid #DCF8C6;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #DCF8C6;
  }

  &__timestamp {
    position: absolute;

    bottom: 2px;
    right: 5px;

    font-weight: bold;

    font-style: italic;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .5);
  }

  &.sender {
    margin-left: auto;

    border-radius: 5px 0 5px 5px;

    background-color: white;

    &::before {
      content: '';

      position: absolute;

      top: 0;
      left: 100%;

      border-left: 5px solid white;
      border-top: 5px solid white;
      border-bottom: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
}