.backdrop {
  height: 100vh;
  width: 100%;

  position: fixed;

  background-color: rgba(0, 0, 0, 0.35);

  z-index: 10;
}

.backdrop-appear,
.backdrop-enter {
  opacity: 0;
}

.backdrop-appear-active,
.backdrop-enter-active {
  opacity: 1;

  transition: 350ms ease;
}

.backdrop-exit-active {
  opacity: 0;

  transition: 350ms ease;
}
