header.sidebar-header {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 auto;

    background-color: #EEEEEE;


    > div {
        position: relative;

        i {
            display: inline-block;
            font-size: 2rem;

            color: #80868A;

            cursor: pointer;

            margin-right: 1rem;
        }
    }
}