@import "@/styles/_colors.scss";

header.sidebar-header {
  padding: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex: 0 0 auto;

  background-color: color("accent");

  img {
    margin-right: 1rem;
  }

  h3 {
    color: color("text");
  }

  > div {
    margin-left: auto;

    i {
      display: inline-block;
      font-size: 2rem;

      color: color("icon");

      cursor: pointer;

      margin-right: 1rem;
    }
  }

  @media(max-width: 900px) {
    padding: 1rem 1rem 1rem 5rem;
  }
}
