.thumbnail {
  height: 40px;

  border-radius: 50%;
}

.icon {
  position: relative;
  padding: 2rem;

  cursor: pointer;

  border-radius: 50%;

  transition: 250ms ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  i {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    display: inline-block;
    font-size: 2rem;

    color: #80868a;
  }
}
