@import "@/styles/_colors.css";

.chat-input {
  padding: 1rem 2rem;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: color("accent");

  margin-top: auto;

  input {
    font-family: inherit;

    padding: 1rem;

    width: 100%;

    margin: 0 1rem;

    outline: none;

    border-radius: 10px;

    border: 1px solid color("accent");
  }

  i {
    font-size: 2rem;
    color: color("icon");

    cursor: pointer;
  }
}
