.contact-search {
  padding: 1rem 2rem;

  position: relative;

  border-bottom: 1px solid color("white");

  input {
    font-family: inherit;

    width: 100%;
    padding: 0.55rem;
    border: 1px solid darken(color("white"), 10%);

    border-radius: 10px;

    outline: none;

    text-indent: 3rem;
  }

  i {
    position: absolute;

    top: 50%;
    left: 3.25rem;
    transform: translateY(-50%);

    font-size: 1.6rem;

    color: color("icon");
  }
}
