@import "@/styles/_colors.scss";

.btn {
  padding: 1rem 1.5rem;

  text-transform: uppercase;
  font-weight: bold;

  color: white;

  background: none;
  background-color: lightcoral;

  border: none;

  border-radius: 3px;

  width: 100%;

  letter-spacing: 1px;

  outline: none;

  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);

  transition: 250ms;

  cursor: pointer;

  &:hover:not(:disabled) {
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.6);
  }

  &:enabled {
    animation: enable 500ms ease;
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;

    transform: none;
    box-shadow: none;
  }

  @keyframes enable {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}

.btn-primary {
  background-color: color("primary");
}
