.contact-list {
  height: 100%;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.75rem;
    border-left: 1px solid darken(color("white"), 10%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken(color("white"), 10%);
  }
}