.contact {
  padding: 1.5rem;

  display: flex;
  align-items: center;

  position: relative;

  user-select: none;

  cursor: pointer;

  img {
    display: inline-block;
  }

  > div {
    margin-left: 1rem;
  }

  &__timestamp {
    position: absolute;
    color: color("text-secondary");

    font-size: 1.3rem;

    top: 15px;
    right: 8px;
  }


  h3 {
    display: inline-block;

    color: color("text");

    font-weight: bold;
    font-size: 1.6rem;
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.3rem;

    color: color("text-secondary");
  }

  border-bottom: 1px solid color("white");

  &:hover {
    background-color: color("white");
  }
}
