@import "@/styles/_colors.scss";

.sidebar {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 100%;

  .contact-list {
    height: 100%;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.75rem;
      border-left: 1px solid darken(color("accent"), 10%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken(color("accent"), 10%);
    }
  }

  border-right: 1px solid darken(color("accent"), 10%);
}
