@import "@/styles/_colors.scss";

.sidebar {
  display: flex;
  flex-direction: column;

  flex: 0 0 300px;
  height: 100%;
  position: relative;

  background-color: white;
  z-index: 50;

  .contact-list {
    height: 100%;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.75rem;
      border-left: 1px solid darken(color("accent"), 10%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken(color("accent"), 10%);
    }
  }

  border-right: 1px solid darken(color("accent"), 10%);

  @media (max-width: 900px) {
    position: absolute;

    width: 300px;

    transition: 250ms ease-out;
    transform: translateX(-300px);

    &.visible {
      transform: translateX(0);
    }
  }
}
