.sidebar {
  display: flex;
  flex-direction: column;

  flex: 0 0 300px;
  height: 100%;
  position: relative;

  @media (min-width: 1921px) {
    flex: 0 0 20%;
  }

  background-color: white;
  z-index: 50;

  border-right: 1px solid darken(color("white"), 10%);

  @media (max-width: 900px) {
    position: absolute;

    width: 300px;

    transition: 250ms ease-out;
    transform: translateX(-300px);

    &.visible {
      transform: translateX(0);
    }
  }
}
