@import "@/styles/_colors.scss";

.auth {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    background-color: white;

    position: relative;

    border-radius: 15px;

    overflow: hidden;

    width: 20%;

    @media (max-width: 1920px) {
      width: 30%;
    }

    @media (max-width: 1200px) {
      width: 40%;
    }

    @media (max-width: 900px) {
      width: 70%;
    }

    @media (max-width: 500px) {
      width: 90%;
    }

    padding: 4rem;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

    > div:nth-child(2) {
      margin-top: 5rem;
    }

    > span {
      margin-top: 2rem;

      display: inline-block;

      width: 100%;
      text-align: center;

      a,
      a:hover,
      a:visited {
        color: color("primary");
        font-weight: bold;

        text-decoration: none;
      }
    }

    &__header {
      position: absolute;

      top: 0;
      left: 0;

      color: white;

      padding: 2rem;

      font-size: 1.6rem;

      text-transform: uppercase;

      font-weight: bold;

      background-color: color("primary");

      width: 100%;
    }
  }
}
