.container {
  .no-contact {
    height: 100%;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #E5DDD5;

    color: color("text-secondary");

    font-weight: bold;
    text-transform: uppercase;

    font-size: 2rem;

    > div {
      padding: 1rem;
    }

    h3 {
      margin: auto;
      text-align: center;
    }
  }
}