@import "@/styles/_colors.scss";

header.chat-header {
  padding: 1rem;

  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  h3 {
    color: color("text");
  }

  img {
    margin-right: 1rem;
  }

  background-color: color("accent");

  > div {
    margin-left: auto;
    display: flex;
  }

  @media(max-width: 900px) {
    padding: 1rem 1rem 1rem 5rem;
  }
}
