@import "@/styles/_colors.scss";

header.chat-header {
  padding: 1rem;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: color("accent");

  > div {
    display: flex;
  }
}
