header.chat-header {
    padding: 1rem;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #EEEEEE;

    > div {
        display: flex;
    }
}